<div class="container">
    <div class="row">
<div class="col-sm"><h1>Welcome {{userName}}</h1></div>
<div class="col-sm">
    <input #inp3 type="text"/>
          <button class="btn btn-primary" type="button" (click)="addChannel(inp3.value)" >Add Channel</button> 
        
</div></div>
 </div>

<div class="container">
    <section style="background-color: #eee;">
        <div class="container py-5">
      
          <div class="row">
      
            <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">
      
              <h3 class="font-weight-bold mb-3 text-center text-lg-start">{{getCurrentChannel()}}</h3>
      
              <div *ngFor=" let ch of getChannels()" class="card">
                <div class="card-body">
                      <button type="button" (click)="setChannel(ch.name)">{{ch.name}}</button>
                      <button *ngIf="!getChannelService().isMember(userName,ch.name)" class="btn" type="button" (click)="joinChannel(ch.name)" >SUBSCRIBE</button>
                      &nbsp;&nbsp;<button *ngIf="getChannelService().isLeavable(userName,ch.name)" type="button" (click)="leaveChannel(ch.name)" class="btn btn-danger btn-sm">Leave</button>
                </div>
              </div>
      
            </div>
      
            <div class="col-md-6 col-lg-7 col-xl-8">
                <div class="card">
                <div class="card-body">
                    <pm-channel [userName]="userName" [channelName]="chName"></pm-channel>
                </div></div>
                <br>
                  <pm-send [UserName]="userName" [channelName]="chName"></pm-send>
            </div>
      
          </div>
      
        </div>
      </section>
    </div>



